.container{
    margin: 15px;
}

.block{
    display: flex;
}

.cell{
    background: rgb(224, 223, 223);
    width: 100px;
    height: 100px;
    margin: 5px;
}

.cross{
    text-align: center;
    font-size: 70px;
}

.zero{
    text-align: center;
    font-size: 70px;
}